In [1]:
#Q1 yield keyword use to create a function
def test1():
  return [1,3,5,7,11,13,17,19,23]

In [2]:
test1()

[1, 3, 5, 7, 11, 13, 17, 19, 23]

In [36]:
#Q4 generator function in apython return a iterator in a sequence of value
# yield keyword use to create generator function
# example of generator function -
def test1_fib(n):
  a,b=1,3
  for i in range(n):
    yield a
    a,b = b,a+b

In [37]:
for i in test1_fib(5):
  print(i)

1
3
4
7
11

In [22]:
#Q2 *args are used in some function because of to get desire output  where as **kwargs are use for to get output in key value pair
def test1(*arg):
  return arg

In [25]:
test1(56)

(56,)

In [26]:
def test2(**kwargs):
  return kwargs

In [27]:
test2(a=45,b='avichal')

{'a': 45, 'b': 'avichal'}

In [29]:
#Q6
def test3_fib(n):
  a,b=2,3
  for i in range(n):
    yield a
    a,b=b,a+b

In [30]:
for i in test3_fib(10):
  print(i)

2
3
5
8
13
21
34
55
89
144

In [38]:
#Q7
s = 'pwskills'

In [39]:
s=iter(s)

In [40]:
next(s)

'p'

In [41]:
next(s)

'w'

In [58]:
# Q3 iterator are object which allow to trasverse all elementof collection and return one element at a time
iter() as a method used for iteration
def test5_fib(n):
  a,b=2,2
  for i in range(n):
    yield a
    a,b=b,a+b

In [59]:
for i in test5_fib(5):
  print(i)

2
2
4
6
10

In [60]:
#Q5
def Prime_seq(num):
    for i in range(2,num):
        if prime(i) == True:
            print(i,end = " ")
        else:
            pass

num = int(input("Enter the range: "))
prime = lambda num: all( num%x != 0 for x in range(2, int(num**.5)+1) )
Prime_seq(num)

Enter the range: 20
2 3 5 7 11 13 17 19

In [62]:
#Q8
num=int(input("Enter a number:"))
temp=num
rev=0
while(num>0):
    dig=num%10
    rev=rev*10+dig
    num=num//10
if(temp==rev):
    print("The number is palindrome!")
else:
    print("Not a palindrome!")

Enter a number:121
The number is palindrome!